/* CONFIGURAÇÃO DAS LISTAS ORDENADAS DO TÓPICO 02 */
 #img-modal11{
   width: 14rem;
   margin-top: -20px;
}

[data-theme="dark"]   .list02 li {
    color: black;
}

 .list02 li {
     font-family: var(--FonteRaleway);
     font-size: 1.2rem;
     margin-top: 5px;
     list-style: none;
     color: black;
 }
 p.paragrafo{
    margin-top: 5.8em;
 }
 .tabela{
    margin-bottom: 3rem;
 }


 